@CHARSET "UTF-8";

.alt {
	background: #B0E0E6;
}

body {
	font: 1em arial, sans-serif;
}

.clear {
	clear: both;
}

div.header {
	float: left;
	font-weight: bold;
	overflow: hidden;
	text-align: left;
	width: 250px;
	overflow: hidden;
}

div.data {
	display: block;
	float: left;
	text-align: right;
	width: 150px;
}

.error {
	background: #DC143C;
	color: white;
	text-align: center;
}

.float {
	float: left;
}

.padding {
	margin: 10px 0px 10px 0px;
}

.receipt {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.summary {
	background: #ADD8E6;
	text-align: center;
	width: 400px;
}

.validator {
	color: red;
	display: none;
}